.navbar {
  color: var(--text-light);
  max-width: 100%;
  position: relative;
  background: var(--transparent-primary-backgorund);
  font-size: 1rem;
  font-family: 'Oswald', "Roboto", monospace;

  background: rgba(0, 0, 0, 0.80);

  & * {
    transition: ease-in-out 199ms;
  }

  button {
    padding: 0.5rem 1rem !important;
  }

  .btn img {
    height: 24px;
    width: 24px;
  }

  .navbar__open {
    max-width: fit-content;
  }

}

.navbar__container {
  max-width: 1200px;
  height: 80px;
  margin: auto;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: var(--container-paddings);
}

.navbar__open {
  width: fit-content;
  display: none
}

.navbar__logo {
  font-size: 2rem;
}

.navbar__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  margin-left: auto;
}

@media (max-width: 1024px) {
  .navbar__menu {
    overflow: hidden;
    background: transparent;
    height: 0px;
    grid-auto-flow: row;
    display: grid;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: var(--container-paddings);
    padding-top: 0;
    padding-bottom: 1rem;
  }
  .navbar__open {
    display: block
  }
  .navbar__opened {
    height: 20rem;
    z-index: 1;
    background: var(--background-secondary);
  }
  .navbar__container__opened {
    background: var(--background-secondary);
  }
  .navbar__menu .btn {

    width: 100%;
    max-width: initial;
    transform: none !important;
    padding: 1rem 0;

    &:hover {
      border-bottom: 2px solid var(--primary);
      background: none;
      box-shadow: none;
    }
  }
  .navbar .btn:hover {
    background: none;
    box-shadow: none;
  }

}

.navbar .btn {
  color: var(--text-light) !important;
  position: relative;
  z-index: 1;
  //transform: skew(-10deg);
}

.w100 {
  width: 100%;
}